NODE_ENV=development
PORT=4000
WEB_URL=http://localhost:3000
API_URL=http://localhost:4000
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/simpatik
BETTER_AUTH_URL=http://localhost:4000
BETTER_AUTH_SECRET=
TRUSTED_ORIGINS=http://localhost:3000
STORAGE_DRIVER=local
STORAGE_BUCKET=./storage
MAX_UPLOAD_SIZE=10485760
NEXT_PUBLIC_API_URL=http://localhost:4000
